[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/smooth-scroll"]
	path = bundle/smooth-scroll
	url = https://github.com/vim-scripts/Smooth-Scroll.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-fugative"]
	path = bundle/vim-fugative
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-prolog"]
	path = bundle/vim-prolog
	url = https://github.com/adimit/prolog.vim.git
